<div class="container">
    <img src="~/images/fale-conosco2.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que tem a dizer!!!</h3>
        <p>Duvida ou sugestão fale conosco...</p>

        <p>
            <span>
                <img src="~/images/envelope.png" />
            </span>
            <h5><email endereco-email="livrariaabraao7@gmail.com" conteudo-email="Enviar um e-mail"></email></h5>
            </br>
            <span>
                <img src="~/images/smartphone.png" />
            </span>
            <h5>(13) 996285971</h5>
            </br>
            <span>
                <img src="~/images/home.png"/>
            </span>
            <h5>Rua Meraldo Previdi, 671 - Centro - Registro-SP</h5>
        </p>
    </div>
</div>